@charset "utf-8";
*{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}

html {
	/*height:100%;*/
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body,
input,
button{
	font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
	word-break:break-all;
}

body {
	min-height: 100%;
	font-size: 1.3rem;
    line-height: 1.5;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	padding: 7%;
	background:url(../imgs/bg_body.png) no-repeat bottom #2f81d2;
	background-size: 100% auto
}

.comm-box {
	padding: 9%;
	border-radius: .4rem;
	background-color: #fff;
}

section {
	height: 100%;
	width: 100%
}
em,i,strong {
	font-style: normal;
}





a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing:border-box;
	color: #fff;
}

a:link,
a:visited,
a:hover,
a:active{
    color: #fff;
}
.underLine {
    text-decoration: underline;
}
a.highLight {
    color: #ff890b;
}

a.highLight:link,
a.highLight:visited,
a.highLight:hover,
a.highLight:active{
    color: #ff890b;
}


img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

img:not([src*="/"]) {
	display: none;
}

input[type="submit"]:disabled {
    background-color: #d2d2d2;
}

progress[value] {
  /* Reset the default appearance */
 	 -webkit-appearance: none;
   	appearance: none;
	background-color: #ff890b
}

progress[value]::-webkit-progress-bar {
  background-color: #d5d5d5;
}

progress[value]::-webkit-progress-value {
	background-color: #ff890b;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*th, td, caption {
	vertical-align: middle;
}*/

textarea {
	resize: none;
}

input, button, select, textarea {
	-webkit-appearance:none;
	outline: none;
	border-radius: 0;
	border: none;
    font-size: 1.4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}


ul,ol,li {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #999;
    background-color: #fff;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #999;
}





.l {
	float:left;
}
.r {
	float:right;
}
.clear { 
	zoom:1;
}
.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.db {
	display: block
}

.ib { 
	display: inline-block
}
.pos { 
	position: relative;
}

.t-c {
	text-align: center
}
.overflow { 
	overflow: hidden
}



.visible { 

	visibility: visible
}
.textEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.imgAuto { 
	width: 100%; 
	height: auto;
}

.flex {

	/***********移动端浏览器暂不支持多行*********/
	 /* 2009 Syntax */
	display: box;
	display: -webkit-box;
	display: -moz-box;
	/* 2011 Syntax (IE 10) */
	display: -ms-flexbox; 
	/* 2013 Syntax */
	display: flex; 
	display: -webkit-flex; 

	justify-content: space-between;
	-moz-box-pack:justify;
	-webkit-box-pack:justify; 
	-o-box-pack:justify; 
	box-pack:justify;

}


.btn {
	display: block;
	width: 48%;
	height: 3.5rem;
	font-size: 1.5rem;
	line-height: 3.5rem;
	color: #fff;
	border-radius: .3rem;
	background-color: #389cff;
	
	

}

.btn.sub {
	background-color: #e9e9e9;
}

.comm-box .title {
	font-size: 1.7rem;
	line-height: 2.1rem;
	padding-bottom: 1.7rem;
}

.comm-box .ipt {
	display: block;
	width: 100%;
	padding:0 1rem;
	border: .1rem solid #e3e4e6;
}

/**********start-page*************/

.comm-box-start .desc {
	line-height: 2.3rem;
	text-align: justify;
	padding-bottom: 5rem;
}

.comm-box-start .flex .btn {
	width: 63%;
}

.comm-box-start .flex {
	justify-content: center;
	-webkit-box-pack: center;
}

/************************/


/****************information page******/

.comm-box-information .ipt{
	height: 4rem;
	margin: .7rem 0 1.5rem;
	line-height: 4rem;	
}

.comm-box-information .tip {
	font-size: 1.1rem;
	text-align: right;
	color: #cecece;	
}

.comm-box-information .flex {
	padding-top: 8rem
}

/************************/

/**************问题--radio***********/
.comm-box-radio input[type="radio"] {
	display: inline-block;
	height: 1.4rem;
	width: 1.4rem;
	margin-right: .8rem;
	vertical-align: middle;
	background: url(../imgs/icon_radio.png) no-repeat 0 0;
	background-size: 100% auto;
}
.comm-box-radio input[type="radio"]:checked {
	background: url(../imgs/icon_radio.png) 0 100% no-repeat;
	background-size: 100% auto;
}

.comm-box-radio .item,
.comm-box-check .item {
	padding: .75rem 0;
}
/************问题--checkbox***********/
.comm-box-check {
	
}

/***********问题--input 输入内容, 用户建议*************/
.comm-box-input .wrap-ipt {
	height: 21.2rem;
	padding:.7rem 0 1.7rem;	

}

/*****************/
.comm-box-suggest .wrap-ipt {
	height: 21.2rem;
	margin: 3.6rem 0;

}

.comm-box-suggest .wrap-ipt  textarea,
.comm-box-input .wrap-ipt textarea {
	display: block;
	width: 100%;
	min-height: 100%;
	padding: .8rem;
	border-radius: .1rem;
	border: .1rem solid #ccc;
	background-color: #fff;
	
}

/************comm-box-end,结束语************/
.comm-box-end p{ 
	line-height: 2;
	text-align: justify	
}