/********base*******/
*{ -webkit-text-size-adjust: none;-webkit-transform-origin-x: 0}
html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
body {
	min-height: 100%;
	background-color: #eee;

}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td {
    font-family: "Verdana","Helvetica","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif;
    margin:0;
    padding:0; 
    list-style:none; 
    color:#404040;
    outline:none;
    line-height: 1.5;
	font-size: 1.4rem;
    box-sizing: border-box;
}
section { 
	min-width: 320px; 
	margin:0 auto
}
strong,
em,
i { 
	font-weight:normal;
	font-style:normal;
	outline: medium none;
}
a,
img,
input,
button {
	border:none; 
	outline: none
}
:focus {
	outline: none
}
button { 
	background: none
}
img { 
	vertical-align:top
}
table { 
	border-collapse: collapse; 
	width: 100%;
}
body{ 
	overflow-x: hidden
}

.muti-line {
	display: -webkit-box;
	height: 100px;
	line-height: 25px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
/********comm******/
.l {
	float:left
}
.r {
	float:right
}
.clear{ 
	zoom:1;
}
.clear:after { 
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.wrap {
	width: 90%;
	height: 100%;
	margin:0 auto;
	background-color: #fff;
	box-shadow: 0 0 .3rem rgba(0,0,0,.2)
}
.db{
	display: block
}
.btn {
	height:2.25rem; 
	line-height: 2.25rem; 
	padding:0 .8rem;
	border-radius: 0.25rem; 
	text-align: center; 
	color: #fff; 
	background: #37c685; 
	font-size: 1.25rem
}

.title {
	padding: 1.5rem 0 0;	
	color: orange;	
	display: flex;
	border-radius: 0;
}

.directory-list .list .item a {
	text-indent: 2em;
	display: block;
	color: #666;
	
}


/******css3 动画**/

.trans {
	width: 100px;
	height: 100px;
	background: red;
	opacity: 1;
	font-size: 18px;
	transition: all 2s ease .2s;
	-webkit-transition: all 2s ease  .2s;
}
.trans:hover {
	opacity: 1;
	background: blue;
	animation: slidein 1s;
	-webkit-animation: slidein 1s 10 alternate forwards;
};

@-webkit-keyframes slidein {
  0% {
    width: 100px; 
  }

  100% {
    width: 300px;
	font-size: 24px;

  }
}

@keyframes slidein {
  0% {
    width: 100px; 
  }

  100% {
    width: 300px;
	font-size: 24px;

  }
}

  /***********ui 组件******/

.wrap-dialog-container {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.wrap-dialog-container .bg-mask {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}
	
.wrap-dialog-container .dialog-container {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 100px;
	background-color: #fff;
	transform: translate(-50%, -50%);
}

.wrap-dialog-container .dialog-title {

}










