<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mixins</title>
</head>
<body>
	<p class="title">Accordion</p>
	<details>
       <summary>一级目录</summary>  
       <ul>
            <li>二级菜单</li>
            <li>二级菜单</li>
            <li>二级菜单</li>
       </ul> 
      <details>
            <summary>二级菜单</summary>  
           <ul>
               <li>三级菜单</li>
               <li>三级菜单</li>
               <li>三级菜单</li>
           </ul> 
      </details>  
</details>
</body>
</html>