<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			
		}
		.title {
			padding: 20px 0 0;
		}
		
		.done {
			color: red
		}
	</style>
	<script src="http://127.0.0.1:3000/script/vue/vue.js"></script>
</head>
<body>
<div id="demo">
  <h1>{{* title | uppercase}}</h1>
  <div v-text="title"></div>
  <div v-html="title"></div>
  <ul>
	<li v-for="item in todos">
		{{{item.content}}}
	</li>
  </ul>
</div>
<p class="title">test vue Component</p>
<div id="testComponent">
	<child></child>
	<input v-model="parentMsg" lazy>
  	<br>
  	<child-bind :msg1="parentMsg" />

</div>

<!-- template for child -->
<template id="child-template">
  <input v-model="msg2">
  <button v-on:click="notify">Dispatch Event</button>
</template>

<!-- template for parent -->
<div id="events-example">
  <p>Messages: {{ messages | json }}</p>
  <child-component></child-component>
</div>

<p class="title">test 指令</p>
<div id="example-2">
  <p v-if="greeting">Hello! v-if {{msg}}</p>
</div>
<div id="testDirective" v-my-directive="text">{{text}}</div>

<p class="title">综合练习</p>
<div id="app">
  <input v-model="newTodo" v-on:keyup.enter="addTodo">
  <ul>
    <li v-for="todo in todos">
      <span>{{ todo.text }}</span>
      <button v-on:click="removeTodo($index)">X</button>
    </li>
  </ul>
</div>

<p class="title">Vue.extend()</p>
<div id="mount-point"></div>

<p class="title">过滤器</p>
<div v-text="message | reverse" id="testFilter"></div>

<p class="title">交互应用</p>
<div id="customOption"></div>
<img id="testBindImage" :src="src" v-on:click="change('tmp/t2.jpg')"/>

<p class="title">dynamic componnent (curentView)</p>
<div id="dynamic">
	<component :is="currentView"></component>
</div>

<p class="title">dynamic componnent2 (view)</p>
<div id="dynamic2">
	<div  :is="view"></div>
</div>

<template id="slot_parent_component">
	<div>
		<h1>This is my component!</h1>
		<slot>
			This will only be displayed if there is no content
			to be distributed.
		</slot>
	</div>
</template>
	
<template id="slot_child_component">
	<p>This is some original content</p>
	<p>This is some more original content</p>
</template>

<p class="title">slot componnent</p>
<div id="slot"></div>

<p class="title">slot name</p>
<div id="slot_name"></div>

<p class="title">nextTick</p>
<div id="nextTick">{{msg}}</div>
<p class="title">replaced</p>
<div id="replace"></div>
<p class="title">Event System</p>
<template id="eventSystemChild1">
	<p v-on:click = "childTest1()">click me</p>
</template>
<div id="event_system_root">
	<event-system-child1></event-system-child1>
</div>

<script src="http://127.0.0.1:3000/script/vue/demo.js"></script>
</body>
</html>