* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
em,
i,
strong {
  font-style: normal;
}
html {
  height: 100%;
  width: 100%;
  font-size: 20px;
}
body {
  min-height: 100%;
  min-width: 100%;
  line-height: 1.5;
  color: #575758;
}
/**
**common style
**包含元素公用的一些样式
********/
.icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clear {
  zoom: 1;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.mr-2rem {
  margin-right: 1rem;
}
/******common style end*****8/

/**
**页面公用组件
**@.widget-bottom-nav 底部固定菜单组件
**@.widget-head-avatar 头部头像组建
****/
.widget-bottom-nav {
  height: 2.5rem;
}
.widget-bottom-nav .container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #4f5769;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.widget-bottom-nav .container .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
}
.widget-bottom-nav .container .item:first-child {
  border-right: 1px solid currentColor;
}
.widget-bottom-nav .container .item a {
  color: inherit;
}
.widget-head-avatar {
  height: 4.3rem;
  background-color: orange;
}
/******widget-common end********/
/**
**我的产检页面,
**分为绑卡和未绑卡
**
******/
.page-antenatal-care .unbind-card-box .easy-move-container {
  padding: 0.5rem 0;
  overflow: hidden;
  background-color: #fff;
}
.page-antenatal-care .unbind-card-box .easy-move-container .item {
  background-color: orange;
  float: left;
}
.page-antenatal-care .unbind-card-box .easy-move-container .item i {
  display: block;
  height: 2.1rem;
  width: 2.1rem;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 2.1rem;
  text-align: center;
  background-color: red;
}
/***
**候诊页面
**分为绑卡和未绑卡
**
*/
.page-wait-doctor .unbind-card-container > .tip-box {
  height: 1.8rem;
  padding: 0 1rem;
  color: #b17652;
  background: #fff5d9;
  border-bottom: 1px solid #f1deae;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-wait-doctor .unbind-card-container > .tip-box .sign {
  display: block;
  width: .3rem;
  height: .3rem;
  border: 1px solid #813e20;
  border-top: 0;
  border-right: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.page-wait-doctor .unbind-card-container > .list {
  padding-left: 1rem;
  background-color: #fff;
}
.page-wait-doctor .unbind-card-container > .list .item {
  padding: .5rem 0;
}
.page-wait-doctor .unbind-card-container > .list .item:not(:last-child) {
  border-bottom: 1px solid #bfbfbf;
}
.page-wait-doctor .unbind-card-container > .list .item .name {
  font-size: .7rem;
}
.page-wait-doctor .unbind-card-container > .list .item .desc {
  color: #717a8c;
}
.page-wait-doctor .unbind-card-container .tooltip-container {
  position: fixed;
  bottom: 3.1rem;
  right: .75rem;
}
.page-wait-doctor .unbind-card-container .tooltip-container .item {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  background-color: #628ff7;
}
.page-wait-doctor .unbind-card-container .tooltip-container .item:first-child {
  margin-bottom: .5rem;
}
.page-wait-doctor .unbind-card-container .tooltip-container .cur {
  background-color: #fa778a;
}
.page-wait-doctor .bind-card-container .tip-container {
  padding: .5rem 0 .5rem 1rem;
  color: #b17652;
  background: #fff5d9;
  border-bottom: 1px solid #f1deae;
}
.page-wait-doctor .bind-card-container .tip-container .icon {
  display: inline-block;
  width: .7rem;
  height: .65rem;
  margin-right: .3rem;
  background-image: url('/images/icon_tip_message.png');
  vertical-align: middle;
}
.page-wait-doctor .bind-card-container .list {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding-left: 1rem;
  margin-bottom: .75rem;
}
.page-wait-doctor .bind-card-container .list > .item {
  padding-top: .7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.page-wait-doctor .bind-card-container .list > .item > .icon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .25rem;
  background-position: 100% 0;
  background-image: url('/images/icon_test_type.png');
}
.page-wait-doctor .bind-card-container .list > .item > .content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 0 1rem .7rem 0;
}
.page-wait-doctor .bind-card-container .list > .item > .content > .desc {
  overflow: hidden;
}
.page-wait-doctor .bind-card-container .list > .item > .content > .desc:nth-of-type(1) {
  padding-bottom: .1rem;
  color: #717a8c;
}
.page-wait-doctor .bind-card-container .list > .item > .content > .desc:nth-of-type(2) {
  font-size: .7rem;
}
.page-wait-doctor .bind-card-container .list > .item > .content .queue-list {
  padding-top: .7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page-wait-doctor .bind-card-container .list > .item > .content .queue-list .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.page-wait-doctor .bind-card-container .list > .item > .content .queue-list .item:last-child p:first-child {
  font-size: .9rem;
  margin-top: -0.3rem;
}
.page-wait-doctor .bind-card-container .list > .item:not(:last-child) > .content {
  border-bottom: 1px solid #f1deae;
}
/********侯检 end**********/
/**********媒体查询***********/
/*# sourceMappingURL=app/styles/main.css.map */