<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mixins</title>
</head>
<body>
    <p class="title">Accordion</p>
    <details>
        <summary>一级目录</summary>  
        <ul>
            <li>二级菜单</li>
            <li>二级菜单</li>
            <li>二级菜单</li>
        </ul> 
        <details>
            <summary>二级菜单</summary>  
            <ul>
                <li>三级菜单</li>
                <li>三级菜单</li>
                <li>三级菜单</li>
            </ul> 
        </details>  
    </details>

    <p class="title">datalist</p>
    <input type="text" list="pasta">
    <datalist id="pasta">
        <option>Bavette</option>
        <option>Cannelloni</option>
        <option>Fiorentine</option>
        <option>Gnocchi</option>
        <option>Pappardelle</option>
        <option>Penne lisce</option>
        <option>Pici</option>
        <option>Rigatoni</option>
        <option>Spaghetti</option>
        <option>Tagliatelle</option>
    </datalist>
    <p class="title">srcset</p>
    
    
    <input type="date" style="width: 100px; height: 30px; background-color: red" />
    <img src="../images/hero.png" srcset="../images/monster.png 2x"> 
</body>
</html>