<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type= "text/css" href="/style/common.css">
</head>
<body>
	<div class="wrap">
		<p class="title">First Test</p>
		<div id="hello-react"></div>


		<p class="title">Create a comment</p>
		<div id="commentBox"></div>

		<p class="title">Create a comment by another method</p>
		<div id="comment2"></div>

		<p class="title">Composing components</p>

		<div id="CommentMix"></div>

		<p class="title">Using prop</p>
		<div id="use-props"></div>


		<p class="title">Using prop List</p>
		<div id="use-props-list"></div>

		<p class="title">Response from Server</p>
		<div id="res-server"></div>
			
		<p class="title">Parent and ChildRen Commpent</p>
		<div id="react-parent"></div>
		
		<p class="title">mixins</p>
		<div id="react-mixins"></div>
			
		<p class="title">using propTypes</p>
		<div id="prop-types"></div>
		
		<p class="title">React with form</p>
		<div id="react-form"></div>
		
		<p class="title">Use the key</p>
		<div id="keyList"></div>
		
		<p class="title">Use the contextTypes</p>
		<div id="contextTypes"></div>
			
		
		<p class="title">nestComponent test</p>
		<div id="nestComponent"></div>

		
	</div>
	<script src="/script/react/demo/react-with-addons.js"></script>
	<script src="/script/react/demo/JSXTransformer.js"></script>
	<script type="text/jsx" harmony="true" src="/script/react/demo/ReactDemo.js"></script>

</body>
</html>
