<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type= "text/css" href="/style/common.css">
</head>
<body>
	<div class="wrap">
		<p class="title">React 直接渲染html 标签</p>
		<div id="hello-react"></div>


		<p class="title">React 创建图片标签</p>
		<div id="commentBox"></div>

		<p class="title">原生创建组件</p>
		<div id="comment2"></div>

		<p class="title">dangerouslySetInnerHTML </p>
		<div id="CommentMix"></div>

		<p class="title">React 对特某些殊符号的编译处理</p>
		<div id="use-props"></div>


		<p class="title">组件的'componentWillReceiveProps'方法,以及生命周期</p>
		<div id="use-props-list"></div>

		<p class="title">Response from Server</p>
		<div id="res-server"></div>
			
		<p class="title">bind events and Practice 'key'</p>
		<div id="react-parent"></div>
		
		<p class="title">组件中的mix方法,后续版本中将会被废除</p>
		<div id="react-mixins"></div>
			
		<p class="title">React propTypes , jsx parsing number</p>
		<div id="prop-types"></div>
		
		<p class="title">React with form</p>
		<div id="react-form"></div>
		
		<p class="title">Use the key</p>
		<div id="keyList"></div>
		
		<p class="title">React context prictise</p>
		<div id="contextTypes"></div>
			
		
		<p class="title">nestComponent test</p>
		<div id="nestComponent"></div>
		
		<p class="title">稍微复杂的React 嵌套</p>
		<div id="WhereImUsingRadioGroups"></div>
		
	</div>
	<script src="/script/react/demo/react-with-addons.js"></script>
	<script src="/script/react/demo/JSXTransformer.js"></script>
	<script type="text/jsx" harmony="true" src="/script/react/demo/ReactDemo.js"></script>

</body>
</html>
