.style1__className___3ZApB {
  color: green;
  background: red;
}

.style1__otherClassName___EIuxe {
  color: yellow;
}.style2__className___3tyCx {
  color: green;
  background: red;
}

.style2__otherClassName___2gd7A {
  color: black;
}